html, body {
  overflow-x: hidden;
}

.movie-row {
  display: flex;
  gap: 6px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;

  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE / Edge */
}

.movie-row::-webkit-scrollbar {
  display: none;              /* Chrome / Safari */
}
